


<div class="jumbotron">
    <h1>About us!</h1>

    <div class='row'>

      <div class='column col-xs-4 col-xs-offset-1'>

        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>

      </div>

      <div class='column col-xs-4 col-xs-offset-1'>

        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>

      </div>
    </div>
</div>

<h1>Meet Our Team</h1>

<div class="row text-center">
      <div class='column col-xs-4'>

        <%= image_tag('tomato.jpg', size: "200x200", class: "img-circle img-responsive")%>
        <h4>Azoychka</h4>
Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.
      </div>

      <div class='column col-xs-4'>

      <%= image_tag('tomato3.jpg', size: "200x200", class: "img-circle img-responsive")%>
      <h4>Better Boy</h4>
      Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.
      </div>

      <div class='column col-xs-4'>

      <%= image_tag('tomato4.jpg', size: "200x200", class: "img-circle img-responsive")%>
      <h4>Brandywine</h4>
      Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip. Sea lettuce lettuce water chestnut eggplant winter purslane fennel azuki bean earthnut pea sierra leone bologi leek soko chicory celtuce parsley jícama salsify.
      </div>

</div>

<div class="row text-center">
      <div class='column col-xs-4'>
        <%= image_tag('tomato5.jpg', size: "200x200", class: "img-circle img-responsive")%>
        <h4>Cherokee purple</h4>
        Celery quandong swiss chard chicory earthnut pea potato. Salsify taro catsear garlic gram celery bitterleaf wattle seed collard greens nori. Grape wattle seed kombu beetroot horseradish carrot squash brussels sprout chard.
      </div>

      <div class='column col-xs-4'>
        <%= image_tag('tomato6.jpg', size: "200x200", class: "img-circle img-responsive")%>
        <h4>Flamenco</h4>
        Pea horseradish azuki bean lettuce avocado asparagus okra. Kohlrabi radish okra azuki bean corn fava bean mustard tigernut jícama green bean celtuce collard greens avocado quandong fennel gumbo black-eyed pea. Grape silver beet watercress potato tigernut corn groundnut. Chickweed okra pea winter purslane coriander yarrow sweet pepper radish garlic brussels sprout groundnut summer purslane earthnut pea tomato spring onion azuki bean gourd. Gumbo kakadu plum komatsuna black-eyed pea green bean zucchini gourd winter purslane silver beet rock melon radish asparagus spinach.
      </div>

      <div class='column col-xs-4'>
        <%= image_tag('tomato7.jpg', size: "200x200", class: "img-circle img-responsive")%>
        <h4>Japanese Black Trifele</h4>
        Beetroot water spinach okra water chestnut ricebean pea catsear courgette summer purslane. Water spinach arugula pea tatsoi aubergine spring onion bush tomato kale radicchio turnip chicory salsify pea sprouts fava bean. Dandelion zucchini burdock yarrow chickpea dandelion sorrel courgette turnip greens tigernut soybean radish artichoke wattle seed endive groundnut broccoli arugula.
      </div>

</div>
