


<div class="jumbotron">
    <h1>About us!</h1>

    <div class='row'>

      <div class='column col-xs-4 col-xs-offset-1'>

        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>

      </div>

      <div class='column col-xs-4 col-xs-offset-1'>

        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>
        <%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%>

      </div>
    </div>
</div>

<h1>Meet Our Team</h1>

<div class="row">
      <div class='column col-xs-4'>

        <%= image_tag('tomato.jpg', size: "200x200", class: "img-circle")%>

      </div>

      <div class='column col-xs-4'>

      <%= image_tag('tomato3.jpg', size: "200x200", class: "img-circle")%>

      </div>

      <div class='column col-xs-4'>

      <%= image_tag('tomato4.jpg', size: "200x200", class: "img-circle")%>

      </div>

</div>

<div class="row">
      <div class='column col-xs-4'>

        <%= image_tag('tomato5.jpg', size: "200x200", class: "img-circle")%>

      </div>

      <div class='column col-xs-4'>

      <%= image_tag('tomato6.jpg', size: "200x200", class: "img-circle")%>

      </div>

      <div class='column col-xs-4'>

      <%= image_tag('tomato7.jpg', size: "200x200", class: "img-circle")%>

      </div>

</div>
