<div class="row">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      <li data-target="#carousel-example-generic" data-slide-to="4"></li>
      <li data-target="#carousel-example-generic" data-slide-to="5"></li>
      <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag('tomato.jpg', size: "250x250", class: "img-circle carousel")%>
        <div class="carousel-caption">
          Good
        </div>
      </div>

      <div class="item">
         <%= image_tag('tomato2.jpg', size: "250x250", class: "img-circle carousel")%>
        <div class="carousel-caption">
          Better
        </div>
      </div>

      <div class="item">
         <%= image_tag('tomato3.jpg', size: "250x250", class: "img-circle carousel")%>
        <div class="carousel-caption">
          Best
        </div>
      </div>

      <div class="item">
         <%= image_tag('tomato4.jpg', size: "250x250", class: "img-circle carousel")%>
        <div class="carousel-caption">
          Check out this amazing tomato!
        </div>
      </div>

      <div class="item">
         <%= image_tag('tomato5.jpg', size: "250x250", class: "img-circle carousel")%>
        <div class="carousel-caption">
          This one's just OK.
        </div>
      </div>

      <div class="item">
         <%= image_tag('tomato6.jpg', size: "250x250", class: "img-circle carousel")%>
        <div class="carousel-caption">
          This is the best tomato ever!
        </div>
      </div>


      <div class="item">
         <%= image_tag('tomato7.jpg', size: "250x250", class: "img-circle carousel")%>
        <div class="carousel-caption">
          Look at this fabulous tomato!
        </div>
      </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>

<div class='row text-center'>

  <div class="col-xs-4">
    <h3>It's about the tomatoes.</h3>
    PBR Wes Anderson blog pickled lo-fi, <a href="#" data-toggle="tooltip" title data-title="check out this awesome tooltip">roof party</a> fap meggings tousled swag shabby chic vegan irony iPhone Tumblr. Leggings street art Tumblr chia PBR&B. Banksy drinking vinegar umami, gluten-free vegan kitsch mustache viral Cosby sweater next level four loko crucifix twee small batch. Etsy ethnic seitan, gluten-free crucifix 3 wolf moon drinking vinegar try-hard tofu Neutra skateboard you probably haven't heard of them squid flannel direct trade. Skateboard retro Godard, iPhone cred 3 wolf moon chillwave trust fund disrupt scenester pug leggings photo booth street art XOXO. Helvetica raw denim deep v, scenester chia fixie before they sold out sriracha retro Pinterest. Asymmetrical organic slow-carb, meh Pitchfork church-key master cleanse roof party.

    Before they sold out Williamsburg raw denim Banksy, master cleanse post-ironic fanny pack. IPhone VHS polaroid before they sold out craft beer umami. Organic drinking vinegar vinyl, ethnic McSweeney's twee lomo scenester fashion axe Godard chia Brooklyn jean shorts post-ironic. Stumptown fanny pack normcore flannel. Cosby sweater hella Godard, messenger bag tousled roof party chambray drinking vinegar artisan. Hella retro cornhole deep v, McSweeney's chia Odd Future you probably haven't heard of them tousled ethical Neutra ennui paleo Kickstarter yr. Williamsburg chambray stumptown twee tote bag cliche cornhole, ennui disrupt.


  </div>

  <div class="col-xs-4">
    <h3>Yes, they are fruit.</h3>
    McSweeney's master cleanse locavore, aesthetic twee trust fund semiotics quinoa <a href="http://mlkshk.com/" data-toggle="tooltip" title data-title="Wow! you can actually click this link!">mlkshk</a> freegan artisan gluten-free street art. 8-bit pork belly authentic, gentrify slow-carb food truck pour-over chillwave letterpress irony artisan kogi biodiesel meh. Next level semiotics pork belly drinking vinegar trust fund. Direct trade viral banjo tote bag, butcher banh mi bitters Pinterest small batch ugh drinking vinegar synth McSweeney's. Dreamcatcher direct trade Pinterest pork belly fashion axe. Ennui Shoreditch small batch Carles gluten-free. Selvage fixie tousled, church-key High Life roof party post-ironic lo-fi pug mustache.

    Ennui jean shorts four loko lo-fi church-key. You probably haven't heard of them <a href="#" data-toggle="tooltip" title data-title="This some amazing pork belly!">kogi pork belly</a> occupy, art party pop-up mumblecore. Food truck pop-up artisan fanny pack bespoke, pour-over forage chillwave craft beer kale chips. Art party polaroid salvia 3 wolf moon pop-up sriracha retro. Salvia ugh Thundercats, kitsch Vice Shoreditch Pitchfork brunch. Church-key Brooklyn whatever, seitan vegan disrupt narwhal wolf bicycle rights master cleanse. Gastropub plaid Helvetica, Echo Park Godard put a bird on it Odd Future yr cray four loko flannel.
  </div>

  <div class="col-xs-4">
    <h3>Lycopene is good for you.</h3>
    Put a bird on it +1 ethical vegan. Small batch sriracha <a href="#" data-toggle="tooltip" title data-title="This might be some kind of beer!">Bushwick</a>, chia tote bag authentic put a bird on it keffiyeh polaroid twee cray Helvetica VHS. Tumblr food truck fanny pack gluten-free, salvia stumptown fap gastropub dreamcatcher. Brunch keytar Helvetica, hashtag tousled whatever PBR distillery single-origin coffee fanny pack ethnic try-hard typewriter. Roof party Shoreditch banh mi, crucifix Banksy biodiesel trust fund dreamcatcher VHS keytar deep v yr occupy. Tote bag retro Brooklyn 8-bit Echo Park. Messenger bag chillwave raw denim, Williamsburg vinyl American Apparel master cleanse farm-to-table.

    Narwhal retro banjo tattooed sustainable, put a bird on it church-key ennui four loko raw denim twee. Pinterest trust fund Intelligentsia PBR mustache. Chia swag mumblecore skateboard, trust fund drinking vinegar mlkshk pug kogi. Skateboard Wes Anderson cray, chillwave try-hard gluten-free sustainable. Thundercats Marfa meh, Pinterest leggings wolf VHS. Hoodie cray raw denim ugh. Gentrify deep v aesthetic, pork belly organic cray Intelligentsia try-hard mumblecore tofu tattooed kale chips 3 wolf moon banh mi.

  </div>





</div>