<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <title>NewAuthDemo</title>

  </head>
  <body>


<nav class="navbar navbar-default" role="navigation">
  <div class='navbar-header'>
    <button type="button" class="navbar-toggle" data-toggle="collapse"
    data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">

        <li><a href='<%= home_url %>'><%= image_tag('tomato.jpg', size: "50x50", class: "img-circle")%></a></li>
        <li class="not_tomato"><%= link_to "About", about_url %></li>
        <li class="not_tomato"><%= link_to "Contact", contact_url %></li>
        <li class="not_tomato"><%= link_to "History", history_url %></li>

      <% if signed_in? %>
          <li class="not_tomato"><a href='#'>Signed in as: <%= current_user.username %></a></li>
          <li class="not_tomato"><%= link_to "Sign Out", session_url, :method => :delete %></li>
      <% else %>
        <li class="not_tomato"><%= link_to "Sign In", new_session_url %></li>
        <li class="not_tomato"><%= link_to "Sign up", new_user_url %></li>
      <% end %>

    </ul>
  </div>

</nav>

    <hr>

    <% if flash[:errors] %>
    <h3>Please fix the following errors:</h3>
    <ul>
      <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
